<!doctype html>
<html lang="en"    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="/webjars/bootstrap/css/bootstrap.min.css"   type="text/css"  rel="stylesheet "/>
   <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="static/style.css">     <!-- "/templates/style.css/style.css"-->


    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <title>ChatRoom</title>

    <style>
        #name-form
        {
            height: 100vh ;
        }
    </style>
    <script>
        var stompClient = null


        function  sendMessage()
        {
            let jasonOb={
                name:localStorage.getItem("name"),
                content:$("#message-value").val()
            }

            let messageData = {
                chat_message: $("#message-value").val(),
                username: $("#name-value").val(),
                role: $("#role-value").val()

            }


            stompClient.send("/app/message" , {} ,JSON.stringify(jasonOb) );
            descriptiveFunctionName()


            function descriptiveFunctionName() {

                var linkVar = document.getElementById("link-value").value
              //   var linkVar = $("link-value").
                console.log(linkVar)
                $.ajax({
                    type: "PUT",
                    url: "api/groups/"+linkVar+"/messages",
                    //dataType: 'jsonp',
                    data: messageData

                });
            }

        }
       function connect()
       {

           let socket = new SockJS("/server1");            //http://localhost:9090
           stompClient = Stomp.over(socket);
           stompClient.connect({} , function (frame){
               $("#name-form").addClass('d-none')
               $("#chat-room").removeClass('d-none')
               //suscribe
               stompClient.subscribe("/topic/return-to" , function(response){

                   showMessage((JSON).parse(response.body))
               })
           })
       }




       function showMessage(message)
       {
           $("#message-container-table").prepend(`<tr><td><b>${message.name} :</b> ${message.content}</td></tr>`)
       }




       $(document).ready((e)=>{

           $("#login").click(()=>{
               let name=$("#name-value").val()
               localStorage.setItem("name",name)
               $("#name-title").html(`Welcome , <b>${name} </b>`)
               connect();
               fetchData();
           })


           $("#send-btn").click(()=>{
               sendMessage()
               autoRefresh();
           })

           $("#logout").click(()=> {

               localStorage.removeItem("name")
               if(stompClient !== null)
               {
                   stompClient.disconnect()
                   $("#name-form").removeClass('d-none')
                   $("#chat-room").addClass('d-none')
                   console.log(stompClient)
               }
           })


       })






            function fetchData()
            {
                $.ajax({
                    url: "/count/rank",
                    type: "GET",
                    success: function(data) {
                        var rankTable = $("#rank-table");
                        rankTable.empty();
                        $.each(data, function(index, rankingData) {
                            var rankRow = $("<tr>");
                            rankRow.append($("<td>").text(rankingData.userName));
                            rankRow.append($("<td>").text(rankingData.userName));
                            rankRow.append($("<td>").text(rankingData.messageCount));
                            rankTable.append(rankRow);
                        });
                    }
                });
            }




        function autoRefresh() {
            setInterval(() => {
                fetchData();
            }, 1000)}





    </script>
</head>
<body class="bg-dark">
<div id="name-form" class="bg-dark d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4  offset-md-4" >
                <div class="input-group" >
                    <input
                           type="text"
                           id="name-value"
                           class="form-control"
                           th:value ="*{userDetails}"
                           readonly
                   />

                   <!-- <h2  id="name-value" > <span th:text ="*{userDetails}"></span></h2> -->



                    <div class="input-group-append">
                        <button class="btn btn-light" id="login">Enter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="chat-room" class="d-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-3">
                    <div class="card-header">
                        <h3 id="name-title"></h3>
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text"
                                   placeholder="Enter your message"
                                   id="message-value"
                                   class="form-control"
                                   autofocus>

                            <div class="input-group-append">
                                <button class="btn btn-dark" id="send-btn">Send</button>
                                <div class="btn btn-dark" id="logout">Logout</div>
                            </div>
                        </div>
                            <div class="table-responsive mt-3">
                                <table id="message-container-table">

                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   <!-- <table>
        <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody id="rankingTableBody">
        <tr th:each="ranking, rank : ${rankings}">
            <td th:text="${rank.index + 1}"></td>
            <td th:text="${ranking.userName}"></td>
            <td th:text="${ranking.messageCount}"></td>
        </tr>
        </tbody>
    </table> -->


    <table>
        <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody id="rank-table">
        <!-- Ranking data will be displayed here -->
        </tbody>
    </table>

    <input
            type="text"
            id="link-value"
            class="form-control"
            th:value ="*{link}"
            readonly
            hidden
    />

    <input
            type="text"
            id="topic-value"
            class="form-control"
            th:value ="*{topic}"
            readonly
            hidden
    />

    <input
            type="text"
            id="role-value"
            class="form-control"
            th:value ="*{role}"
            readonly
            hidden
    />


</div>
<script src="../static/script.js"></script>

</body>
</html>